[run]
source = eventsourcing
branch = True
relative_files = True
omit =
    eventsourcing/tests/*
    eventsourcing/examples/bankaccounts/test.py
    eventsourcing/examples/cargoshipping/domainmodel.py
    eventsourcing/examples/cargoshipping/application.py
    eventsourcing/examples/cargoshipping/interface.py
    eventsourcing/examples/cargoshipping/test.py
    eventsourcing/dispatch.py
