[run]
source = eventsourcing
branch = True
omit =
    */tests/*
    */examples/bankaccounts/test.py
    */examples/cargoshipping/domainmodel.py
    */examples/cargoshipping/application.py
    */examples/cargoshipping/interface.py
    */examples/cargoshipping/test.py
    eventsourcing/dispatch.py
